.series-management-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Đảm bảo chiều cao tối thiểu bằng chiều cao viewport */
}

.series-management {
  flex: 1; /* Nội dung chính sẽ chiếm không gian trống */
  padding: 20px;
  font-family: Arial, sans-serif;

  .series-management-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h1 {
      font-size: 24px;
      color: #333;
    }
  }

  .series-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 10px;
      text-align: left;
      border: 1px solid #ddd;
    }

    th {
      background-color: #f4f4f4;
    }
  }
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}