.navbar {
  width: 100%;
  font-size: 18px;
  position: relative;
  top: 0;
  background-size: cover;
  background-position: center;
  height: 700px;
  transition: background-image 0.5s ease-out;

  .container {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute; // Đặt container ở trên cùng
    top: 0;             // Đưa container lên trên cùng
    left: 0;
    right: 0;
    z-index: 2;
  }

  .left {
    display: flex;
    align-items: center;
    z-index: 1;

    .hamburger-btn {
      font-size: 2rem;
      color: #ffffff;
      cursor: pointer;
    }
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    img {
      width: 180px; // Giữ kích thước logo cố định
      height: auto;
    }
  }

  .right {
    display: flex;
    align-items: center;
    z-index: 1;

    .auth-btn,
    .profile {
      display: flex;
      align-items: center;
      position: relative;

      .dropdown-icon {
        font-size: 3rem; // Giảm kích thước icon để phù hợp với logo
        color: #ffffff;
        cursor: pointer;
        transition: transform 0.5s ease;

        &:hover {
          transform: rotate(180deg);
          color: #ff0202;
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ffffff;
        color: #000;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        z-index: 10;
        padding: 10px 15px;
        width: 120px;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        span {
          display: block;
          padding: 10px;
          font-size: 1rem;
          cursor: pointer;
          text-align: center;
          transition: background-color 0.3s;

          &:hover {
            background-color: #f1f1f1;
          }
        }
      }

      &:hover .dropdown-content,
      .dropdown-content:hover {
        display: block;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}