.home{
  background-color: rgba(248, 248, 248, 0.94);
 overflow: hidden;
.content {
  padding: 30px;
}
}



.searchBarSection {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background: transparent;
}